/* Background */
body {
    background-color: #f0f4f8;
    background-image: url('https://www.example.com/background-image.jpg'); /* Substitua pelo URL da imagem de fundo desejada */
    background-size: cover;
    background-attachment: fixed;
    color: #333;
    font-family: Arial, sans-serif;
}

/* Centralizar e redimensionar a logo da AWS */
.aws-logo {
    text-align: center;
    margin-bottom: 20px;
}

.aws-logo img {
    width: 150px;
    height: auto;
}

/* Logo da SoftwareONE no canto inferior direito */
.softwareone-logo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 120px;
    opacity: 0.8;
}

.softwareone-logo img {
    width: 100%;
    height: auto;
}

/* Logo da FIEG no canto inferior esquerdo */
.fieg-logo {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 120px;
    opacity: 0.8;
}

.fieg-logo img {
    width: 100%;
    height: auto;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: #666;
    margin-top: 20px;
}

/* Estilo da Seção de Contas */
.accounts-info {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
}

.account-section {
    margin: 20px auto;
    padding: 20px;
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    overflow-x: auto; /* Permite rolagem horizontal para tabelas largas */
}

/* Centraliza a tabela com rolagem horizontal se necessário */
.table-container {
    max-width: 100%;
    overflow-x: auto;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

/* Estilo da Tabela */
.instances-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    table-layout: fixed;
}

.instances-table th,
.instances-table td {
    padding: 8px 10px;
    border: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
    line-height: 1.2;
}

.instances-table th {
    background-color: #0073bb;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.instances-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.instances-table tr:hover {
    background-color: #e1f5fe;
}

/* Defina larguras específicas para colunas individuais */

/* Instance ID */
.instances-table th:nth-child(1),
.instances-table td:nth-child(1) {
    width: 100px;
}

/* Instance Name */
.instances-table th:nth-child(2),
.instances-table td:nth-child(2) {
    width: 120px;
}

/* Type */
.instances-table th:nth-child(3),
.instances-table td:nth-child(3) {
    width: 50px;
}

/* State */
.instances-table th:nth-child(4),
.instances-table td:nth-child(4) {
    width: 50px;
}

/* Account Name */
.instances-table th:nth-child(5),
.instances-table td:nth-child(5) {
    width: 50px;
}

/* Account ID */
.instances-table th:nth-child(6),
.instances-table td:nth-child(6) {
    width: 70px;
}

/* Region */
.instances-table th:nth-child(7),
.instances-table td:nth-child(7) {
    width: 50px;
}

/* Platform */
.instances-table th:nth-child(8),
.instances-table td:nth-child(8) {
    width: 50px;
}

/* Role */
.instances-table th:nth-child(9),
.instances-table td:nth-child(9) {
    width: 90px;
}

/* Status do SSM */
.instances-table th:nth-child(10),
.instances-table td:nth-child(10) {
    width: 60px;
}

/* swoMonitor */
.instances-table th:nth-child(11),
.instances-table td:nth-child(11) {
    width: 60px;
}

/* swoBackup */
.instances-table th:nth-child(12),
.instances-table td:nth-child(12) {
    width: 60px;
}

/* swoPatch */
.instances-table th:nth-child(13),
.instances-table td:nth-child(13) {
    width: 60px;
}

/* Start-Stop */
.instances-table th:nth-child(14),
.instances-table td:nth-child(14) {
    width: 70px;
}

/* Critical Non-Compliant */
.instances-table th:nth-child(15),
.instances-table td:nth-child(15) {
    width: 100px;
}

/* Security Non-Compliant */
.instances-table th:nth-child(16),
.instances-table td:nth-child(16) {
    width: 100px;
}
